# Node environment, either "development" or "production"
NODE_ENV="development"

# Database
DATABASE_URL="postgres://username@localhost:5432/airneis"
DATABASE_USERNAME="username"
DATABASE_PASSWORD="" # Generated with `openssl rand -base64 32`
DATABASE_NAME="airneis"
DATABASE_PORT="5432"

# Meilisearch
MEILISEARCH_MASTER_KEY="" # Generated with `openssl rand -base64 32`
MEILISEARCH_ADMIN_KEY=""
MEILISEARCH_PORT="7700"
NEXT_PUBLIC_MEILISEARCH_URL="http://localhost:7700"
NEXT_PUBLIC_MEILISEARCH_PUBLIC_KEY=""

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_PASSWORD="" # Generated with `openssl rand -base64 32`
REDIS_PORT="6379"

# Optionnal
# VERCEL_URL=""
