@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(220, 14%, 96%);
    --foreground: black;
    --primary: hsl(270, 59%, 58%);
    --primary-foreground: white;
    --error: hsl(339, 90%, 51%);
    --border: hsl(220, 13%, 91%);
    --card: white;
  }
}
