@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(220, 14%, 96%);
    --foreground: black;

    --card: white;

    --primary: hsl(270, 59%, 58%);
    --border: hsl(220, 13%, 91%);
  }
}
